body {
  font-family: Arial, Helvetica, sans-serif;
}
.background {
  background-color: rgba(165, 165, 165, 0.473);
}
.box {
  background-color: rgba(0, 0, 0, 0.151);
}
.box-head {
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 10px;
}

.text {
  color: black;
}

.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.heading1 {
  font-size: 3.5rem;
}
.heading2 {
  font-size: 2rem;
}
#resultcontent::-webkit-scrollbar {
  display: none;
}

#resultcontent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
